<p>Login</p> 
<div class="form-group">
    <input type="text" placeholder="User Name" [(ngModel)]="loginForm.username" [ngModelOptions]="{standalone: true}" >
</div>
<div class="form-group">
    <input type="password" placeholder="Password" [(ngModel)]="loginForm.password" [ngModelOptions]="{standalone: true}" >
</div>
<input type="submit" value="Login" (click)= formSubmit()> 
